* {
    margin:0px;
    padding: 0px;
    font-family: 'Roboto';
}

.clear-float {
    clear: both;
}

/* ------------- top nav ------------- */
.top-nav {
    z-index: 10000;
    position: fixed;
    background-color: #fff;
    top:0;
    left:0;
    right:0;
    box-sizing: border-box;
    padding: 1px 0px;
    transition: padding-top 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 135px;

    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
}

.top-nav a {
    text-decoration: none;
}

.top-nav-left-box {
    border-right: 1px solid #E8E8E8;
    width: 18%;
    display: inline-block;
    text-align: center;
}

.top-nav-left-box img {
    height: 130px;
}

.top-nav-right-box {
    display: inline-block;
    vertical-align: top;
    width: 81.6%;
}

.top-nav-right-box-top {
    height: 50px;
    border-bottom: 1px solid #EEF1F0;
    padding-left: 40px;
    padding-right: 15px;
}   

.top-nav-right-box-top p {
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: 300;
    font-size: 15px;
    padding: 0px;
}

.top-nav-right-box-top p a {
    text-decoration: none;
    color: black;
}

.top-nav-right-box-top p a:hover {
    text-decoration: underline;
}


.top-nav-right-box-top p i {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}

.social-link-top-nav {
    float: right;
    font-size: 28px;
    margin-top: 10px;
    margin-right: 18px;
    color: grey;
}

.social-link-top-nav:hover {
    color: #EB1D23;
    transition: 0.2s;
}

.top-nav-right-box-bottom {
    padding-left: 70px;
    padding-right: 0px;
}

.top-nav-right-box-bottom a {
    color: #4D4B66;
    display: inline-block;
    margin-right: 35px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
}

.top-nav-right-box-bottom a:hover {
    transition: 0.2s;
    border-bottom: 2px solid #EB1D23;
}

.active-top-link {
    border-bottom: 2px solid #EB1D23;
}

.big-contact-link {
    float: right;
    background-color: #EB1D23;
    border-radius: 25px;
    padding: 15px 30px !important;
    margin-top: 15px !important;
    font-weight: 600 !important;
    color: white !important;
}

.big-contact-link:hover {
    background-color: #216484;
    transition: 0.2s;
}


/* ------------- breadcrumb banner ------------- */
.breadcrumb-banner {
    width: 100%;
    background-color: lightgrey;
    height: 250px;
    margin-top: 135px;

    background-image: url("../img/img2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bread-crumb-opacity-filter {
    z-index: 10;
    background-color: #216484;
    height: 100%;
    width: 100%;
    
    opacity: 0.8;
    
}

.breadcrumb-banner h1 {
    color: white;
    z-index: 111;
    font-size: 70px;
    padding-top: 70px;
    margin-left: 5%;

    opacity: 1;
    font-weight: bolder;
}


/* ------------- block content ------------- */
.block-content-wrapper {
    height: 80vh;
}

/* ------------- footer ------------- */
.footer {
    background-color: #01688F;
    padding-top: 30px;
    padding-bottom: 100px;
}

.footer-left-box {
    border: 1px solid transparent;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    margin-right: 5%;
}

.footer-logo {

}

.footer-logo img {
    height: 200px;
}

.footer-left-box p {
    width: 30%;
    color: white;
    
    margin: 0;
    width: 70%;
    font-size: 17px;
    line-height: 1.5em;
    text-align: inherit;

    margin-left: 30px;
    margin-bottom: 40px;
}

.footer-left-box a {
    margin-left: 30px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.footer-left-box a:hover {
    text-decoration: underline;
}

.footer-left-box a i {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;

}

.footer-right-box {
    border: 1px solid transparent;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
}

.footer-col-big {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    color: white;
}


.footer-col {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.footer-col h3, .footer-col-big h3 {
    font-weight: 900;
}   

.footer-col a, .footer-col-big a {
    font-weight: 300;
    text-decoration: none;
    color: #D0E0E8;
    display: block;
    margin-top: 18px;
}

.footer-col a:hover, .footer-col-big a:hover {
    text-decoration: underline;
}

.footer-bottom {
    height: 70px;
    background-color: #055373;
}
