/* ------------- services LEFT -------------*/
.services-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.services-left {

}

.services-left h1 {

}

.services-left p {

}

.services-left h3 {

}

.services-left h4 {

}


/* ------------- services RIGHT -------------*/
.services-right {

}